@charset "UTF-8";

/* MAIN */
main {
  width: 1920px;
  height: calc(1080px - 335px);
}
main .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
main .about_text {
  width: 100%;
  height: 100%;
  margin-top: 32px;
}
main .about_logo {
  margin-bottom: 20px;
}
main .about_logo img {
  width: 159px;
}
main .about_line h3 {
  font-size: 24px;
  color: #2faeff;
  font-weight: 700;
  margin-bottom: 24px;
}
main .about_line p {
  margin-bottom: 20px;
}
main .about_list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
main .about_list_card {
  width: 392px;
  height: 274px;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .about_list_card_text {
  width: 328px;
  color: #f1f1f1;
}
main .about_list_card.one {
  background-image: url("../images/twice_img_card.png");
}
main .about_list_card.two {
  background-image: url("../images/itzy_img_card.png");
}
main .about_list_card.three {
  background-image: url("../images/stray_kids_img_card.png");
}